<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="StyleSheet" href="/styleHome.css" />
</head>
<body>
    <a href="/logIn">
        <button class="logOutButton">
            LOG OUT
        </button>
    </a>
    
    <h1>WELCOME TO MY WEBSITE'S HOMEPAGE</h1>
    
    <!-- Embedding the video using an iframe -->
    <div class="video-container">
        <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/dQw4w9WgXcQ" 
                title="Never Gonna Give You Up - Rick Astley" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
    </div>

</body>
</html>
