<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/resetpassword.css" />
</head>
<body>
    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}

    <h2>Reset Password</h2>
    <form action="/resetpassword" method="post" class="form">
        <div class="flex-column">
            <label>UserName/Email</label>
        </div>
        <div class="inputForm">
            <input type="text" name="name" class="input" placeholder="Enter your UserName or Email" />
        </div>

        <div class="flex-column">
            <label>Reset Password</label>
        </div>
        <div class="inputForm">
            <input type="password" name="newPassword" class="input" placeholder="Enter your New Password" />
        </div>

        <button class="button-submit">Reset Password</button>
    </form>
</body>
</html>
